/*
Color palette:
- almost black: #111
- gold: #f4c65a
- almost white: #f1f1f1
- gray: #9c9c9c
- dark gray: #222020
- met red: #e92829
*/

/* ---- reset ---- */

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* ---- typography ---- */

body {
  color: #111;
  font-family: sans-serif;
  font-size: 1rem;
}

a, span {
  font-weight: bold;
  text-decoration: none;
  color: #e92829;
}

div.container p {
  font-size: 1.5rem;
}

/* ---- layout ---- */

#main {
  margin-bottom: 7rem;
}

.container {
  padding: 4rem;
}



@media (min-width: 768px) {
  .container {
    max-width: 90%;
    margin: 0 auto;
  }
}

img.icon {
  filter: invert(1)
}

/* ---- Components ---- */

/* --- Navbar component --- */

nav#navbar {
  position: fixed;
  width: 100%;
  height: 5.3rem;
  bottom: 0;
  background-color: #e92829;
}

nav#navbar ul {
  display: inline;
  text-align: center;
  grid-template: none;
}

nav#navbar ul li {
  display: inline-block;
  width: 33%;
  margin-top: .8rem;
  padding-bottom: .6rem;
  grid-column: none;
  background-image: none;
  border: none;
}

nav#navbar ul li img.icon {
  width: 3.3rem;
}

nav#navbar ul li img.signupicon {
  width: 3.8rem;
}

nav#navbar ul li img.homeicon {
  width: 3.9rem;
}

/* ---- Menu component ---- */

div#menu {
  width: 100%;
  height: 100vh;
  background-color: #222020;
  color: #f1f1f1;
}

div#menu ul {
  display: block;
  margin: 20% 10% 0 10%;
  text-align: right;
  grid-template: none;
}

div#menu li {
  margin-top: 3rem;
  padding: 0 1rem 2.3rem 0;
  grid-column: none;
  background-image: none;
  border: none;
  font-size: 2.7rem;
  border-bottom: 3px solid #f1f1f1;
}

div#menu a, span {
  color: #f1f1f1;
}

div#menu span.close {
  display: inline-block;
  margin: 2.5rem;
}

div#menu span.close img {
  width: 2rem;
}

/* -- HeartButton component --*/

div#favs {
  margin-top: 1rem;
  text-align: right;
  padding-right: .4rem;
}

div#favs button {
  background: none;
  padding: 0 1rem;
  text-align: right;
  border: none;
}

div#favs button img.icon {
  margin: 0;
  width: 4rem;
  filter: invert(50%) brightness(70%) sepia(100%) hue-rotate(310deg) saturate(270%) contrast(2.3);
}

/* -- NotFound page -- */

div#not-found {
  width: 100%;
  height: 100vh;
  background: url('/images/404.png') no-repeat -28rem -8.5rem;
  background-size: 90rem;
}

div#not-found span {
  position: absolute;
  top: 75%;
  left: 27%;
  color: #f1f1f1;
  background-color: #f1f1f133;
  font-size: 3rem;
  padding: .5rem 1.2rem;
  border: 2px solid #f1f1f1;
  border-radius: 4px;
}

/* ---- HP Component ----*/
#header-block {
  height: 10vh;
  border: 0px solid black;
  background-color: #e92829;
  color: white;
}

#header-block img{
  height: 100%;
  width: auto;
}

.home-page h1{
  font-size: 28px;
  color: white;
  padding: 20px 5px 5px;
  text-align: left;
  font-weight: bold;
}

.home-page h2{
  font-size: 20px;
  color: white;
  padding: 20px 5px 5px;
  text-align: left;
  font-weight: bold;
  font-family: sans-serif;
}

.home-page p{
  font-size: 18px;
  color: white;
  padding: 5px;
}

.home-page a:link{
  color: white;
  text-decoration: none;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 14vw repeat(5, 15vw) 18vw 18vw 20vw;
}
li {
  height: 100%;
  border: 3px solid black;
  background-size: cover;
}
li:nth-child(1) {
  grid-column: span 2;
  background-image: url('/images/grey.jpg'); 
  border-top: none;
  border-left: none;
}
li:nth-child(2) {
  grid-column: span 3;
  background-image: url('/images/lighter-grey.jpg');
  border-top: none;
}
li:nth-child(3) {
  grid-column: span 2;
  background-image: url('/images/grey.jpg');
  border-top: none;
}
li:nth-child(4) {
  grid-row: span 6;
  background-color: #FCFDE7;
  border-top: none;
  border-right: none;
}
li:nth-child(5) {
  grid-row: span 2;
  background-image: url('/images/lighter-grey.jpg');
  border-left: none;
}
li:nth-child(6) {
  grid-column: span 4;
  grid-row: span 4;
  background-image: url('/images/red.jpg')
}
li:nth-child(7) {
  grid-row: span 2;
  grid-column: span 2;
  background-image: url('/images/yellow.jpg')
}
li:nth-child(8) {
  grid-row: span 3;
  background-image: url('/images/grey.jpg');
  border-left: none;
}
li:nth-child(9) {
  grid-row: span 2;
  background-image: url('/images/grey.jpg');
}
li:nth-child(10) {
  grid-row: span 2;
  background-image: url('/images/white.jpg');
}
li:nth-child(11) {
  grid-row: span 3;
  grid-column: span 3;
  background-image: url('/images/yellow.jpg')
}
li:nth-child(12) {
  grid-column: span 1;
  background-image: url('/images/white.jpg')
}
li:nth-child(13) {
  grid-column: span 2;
  background-image: url('/images/lighter-grey.jpg');
}
li:nth-child(14) {
  grid-row: span 3;
  background-image: url('/images/yellow.jpg');
  border-left: none;

}
li:nth-child(15) {
  grid-column: span 3;
  grid-row: span 3;
  background-image: url('/images/black.jpg')
}
li:nth-child(16) {
  grid-row: span 2;
  grid-column: span 1;
  background-image: url('/images/grey.jpg')
}
li:nth-child(17) {
  grid-row: span 3;
  grid-column: span 2;
  background-image: url('/images/grey.jpg')

}
li:nth-child(18) {
  grid-row: span 2;
  background-image: url('/images/lighter-grey.jpg');

}
li:nth-child(19) {
  
  grid-row: span 3;
  background-image: url('/images/yellow.jpg')
  
}
li:nth-child(20) {
  grid-column: span 8;
  background-color: white;
  border-right: none;
  border-left: none;
  border-bottom: none;
}

/* --- Detail component --- */ 
div.painting-detail{
  opacity: 0.85;
  filter: alpha(opacity=50);
  background-color: #f1f1f1;
  margin: 0rem 2rem 2rem 2rem;
  padding: 2rem 2.2rem 1.4rem 1.6rem;
  height:100%;
}

div.detail-page{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.detail-page h3 {
  font-weight: bold;
}

.painting-detail p{
  font-size: 18px;
}

/* --- PaintingCard component --- */ 

div.painting-card {
  margin: 2.2rem 2rem 2rem 2rem;
  padding: 2rem 2.2rem 1.4rem 1.6rem;
  overflow: hidden;
  border-radius: .7rem;
  background-color: #f1f1f1;
  box-shadow: 2px 4px 16px rgba(86, 79, 78, 0.3);
}

div.painting-card img {
  float: left;
  width: 30%;
  margin-right: 1.5rem;
}

div.painting-card h2 {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
}

div.painting-card h5 {
  margin: 0;
  font-size: 1.7rem;
}

div.painting-card a {
  font-size: 1.7rem;
}

/* -- forms -- */

form label {
	display: block;
	margin-bottom: 1rem;
	font-style: bold;
}

form input {
  padding: 5px;
  font-size: 16px;
}

form input.form-button {
  margin-top: 1rem;
  background: #f4c65a;
  border: none;
}

form input.form-button[value] {
  padding-top: .2rem;
  font-size: 1.6rem;
  font-weight: normal;
  color: #111;
}

p.validation {
  margin: 5px 0 10px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #e92829;
}

.ex-title {
  text-transform: uppercase;
  font-family: "MetSans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
  color: #1a1a1a;
  font-size: 20px;
}